In [127]:
%matplotlib inline 

import pandas as pd
import matplotlib.pyplot as plt 
from StringIO import StringIO

In [128]:
df = pd.read_csv("Copy of Mother Jones' Investigation- US Mass Shootings, 1982-2015 - cleanup.csv")

source: 
http://www.motherjones.com/politics/2012/12/mass-shootings-mother-jones-full-data

And I added latest Oregon Community College shooting.

In [129]:
df[:10]

,case,year,fatalities,injured,total_victims
0,Oregon Community College shooting,2015,10,7,17
1,Chattanooga military recruitment center,2015,5,2,7
2,Charleston Church Shooting,2015,9,1,10
3,Marysville-Pilchuck High Schoolshooting,2014,5,1,6
4,Alturas tribal shooting,2014,4,2,6
5,Washington Navy Yard shooting,2013,13,8,21
6,Hialeah apartment shooting,2013,7,0,7
7,Santa Monica rampage,2013,6,3,9
8,Pinewood Village Apartment shooting,2013,5,0,5
9,Mohawk Valley shootings,2013,5,2,7

In [130]:
df['case'] = df['case'].apply(lambda x: x + ', ')

In [131]:
df['case']

0           Oregon Community College shooting,
1     Chattanooga military recruitment center,
2                  Charleston Church Shooting,
3     Marysville-Pilchuck High Schoolshooting,
4                     Alturas tribal shooting,
5               Washington Navy Yard shooting,
6                  Hialeah apartment shooting,
7                        Santa Monica rampage,
8         Pinewood Village Apartment shooting,
9                     Mohawk Valley shootings,
10                    Newtown school shooting,
11            Accent Signage Systems shooting,
12                       Sikh temple shooting,
13                    Aurora theater shooting,
14                      Seattle cafe shooting,
15                  Oikos University killings,
16              Su Jung Health Sauna shooting,
17                        Seal Beach shooting,
18                              IHOP shooting,
19                            Tucson shooting,
20         Hartford Beer Distributor shooting,
21                Coffee shop police killings,
22                         Fort Hood massacre,
23                       Binghamton shootings,
24             Carthage nursing home shooting,
25                 Atlantis Plastics shooting,
26      Northern Illinois University shooting,
27             Kirkwood City Council shooting,
28                    Westroads Mall shooting,
29                           Crandon shooting,
                        ...
42                             Xerox killings,
43           Wedgwood Baptist Church shooting,
44         Atlanta day trading spree killings,
45             Columbine High School massacre,
46              Thurston High School shooting,
47            Westside Middle School killings,
48               Connecticut Lottery shooting,
49         Caltrans maintenance yard shooting,
50               R.E. Phelon Company shooting,
51           Fort Lauderdale revenge shooting,
52            Walter Rossler Company massacre,
53                    Air Force base shooting,
54                 Chuck E. Cheese's killings,
55             Long Island Rail Road massacre,
56                           Luigi's shooting,
57            101 California Street shootings,
58                      Watkins Glen killings,
59             Lindhurst High School shooting,
60                 Royal Oak postal shootings,
61                University of Iowa shooting,
62                            Luby's massacre,
63                              GMAC massacre,
64                  Standard Gravure shooting,
65               Stockton schoolyard shooting,
66                               ESL shooting,
67            Shopping centers spree killings,
68      United States Postal Service shooting,
69             San Ysidro McDonald's massacre,
70                  Dallas nightclub shooting,
71                      Welding shop shooting,
Name: case, dtype: object

http://stackoverflow.com/questions/16684346/pandas-group-by-operations-on-a-data-frame

In [133]:
grouped = df.groupby('year')
f_series = grouped.fatalities.sum()
f_series

year
1982     8
1984    28
1986    15
1987     6
1988     7
1989    15
1990    10
1991    35
1992     9
1993    23
1994     5
1995     6
1996     6
1997     9
1998    14
1999    44
2000     7
2001     5
2003     7
2004     5
2005    17
2006    21
2007    54
2008    18
2009    39
2010     9
2011    19
2012    72
2013    36
2014     9
2015    24
Name: fatalities, dtype: int64

In [134]:
i_series = grouped.injured.sum()
i_series

year
1982     3
1984    20
1986     6
1987    14
1988     4
1989    41
1990     4
1991    26
1992    10
1993    34
1994    23
1995     0
1996     1
1997     5
1998    36
1999    47
2000     0
2001     4
2003     8
2004     7
2005     9
2006     7
2007    32
2008    24
2009    38
2010     2
2011    21
2012    68
2013    13
2014     3
2015    10
Name: injured, dtype: int64

In [135]:
v_series = grouped.total_victims.sum()
v_series

year
1982     11
1984     48
1986     21
1987     20
1988     11
1989     56
1990     14
1991     61
1992     19
1993     57
1994     28
1995      6
1996      7
1997     14
1998     50
1999     91
2000      7
2001      9
2003     15
2004     12
2005     26
2006     28
2007     86
2008     42
2009     77
2010     11
2011     40
2012    140
2013     49
2014     12
2015     34
Name: total_victims, dtype: int64

http://stackoverflow.com/questions/17841149/pandas-groupby-how-to-get-a-union-of-strings

In [136]:
c_series = grouped['case'].apply(lambda x: x.sum())
c_series

year
1982                              Welding shop shooting,
1984    San Ysidro McDonald's massacre, Dallas nightcl...
1986              United States Postal Service shooting,
1987                    Shopping centers spree killings,
1988                                       ESL shooting,
1989    Standard Gravure shooting, Stockton schoolyard...
1990                                      GMAC massacre,
1991    Royal Oak postal shootings, University of Iowa...
1992    Watkins Glen killings, Lindhurst High School s...
1993    Chuck E. Cheese's killings, Long Island Rail R...
1994                            Air Force base shooting,
1995                    Walter Rossler Company massacre,
1996                   Fort Lauderdale revenge shooting,
1997    Caltrans maintenance yard shooting, R.E. Phelo...
1998    Thurston High School shooting, Westside Middle...
1999    Hotel shooting, Xerox killings, Wedgwood Bapti...
2000                                 Wakefield massacre,
2001                                  Navistar shooting,
2003                           Lockheed Martin shooting,
2004                           Damageplan show shooting,
2005    Red Lake massacre, Living Church of God shooti...
2006    Amish school shooting, Capitol Hill massacre, ...
2007    Westroads Mall shooting, Crandon shooting, Vir...
2008    Atlantis Plastics shooting, Northern Illinois ...
2009    Coffee shop police killings, Fort Hood massacr...
2010                 Hartford Beer Distributor shooting,
2011    Seal Beach shooting, IHOP shooting, Tucson sho...
2012    Newtown school shooting, Accent Signage System...
2013    Washington Navy Yard shooting, Hialeah apartme...
2014    Marysville-Pilchuck High Schoolshooting, Altur...
2015    Oregon Community College shooting, Chattanooga...
Name: case, dtype: object

http://stackoverflow.com/questions/18062135/combining-two-series-into-a-dataframe-in-pandas

In [163]:
result = pd.concat([f_series, i_series,v_series, c_series], axis=1)

In [164]:
result

,fatalities,injured,total_victims,case
year,,,,
1982,8,3,11,"Welding shop shooting,"
1984,28,20,48,"San Ysidro McDonald's massacre, Dallas nightcl..."
1986,15,6,21,"United States Postal Service shooting,"
1987,6,14,20,"Shopping centers spree killings,"
1988,7,4,11,"ESL shooting,"
1989,15,41,56,"Standard Gravure shooting, Stockton schoolyard..."
1990,10,4,14,"GMAC massacre,"
1991,35,26,61,"Royal Oak postal shootings, University of Iowa..."
1992,9,10,19,"Watkins Glen killings, Lindhurst High School s..."
1993,23,34,57,"Chuck E. Cheese's killings, Long Island Rail R..."
1994,5,23,28,"Air Force base shooting,"
1995,6,0,6,"Walter Rossler Company massacre,"
1996,6,1,7,"Fort Lauderdale revenge shooting,"
1997,9,5,14,"Caltrans maintenance yard shooting, R.E. Phelo..."
1998,14,36,50,"Thurston High School shooting, Westside Middle..."
1999,44,47,91,"Hotel shooting, Xerox killings, Wedgwood Bapti..."
2000,7,0,7,"Wakefield massacre,"
2001,5,4,9,"Navistar shooting,"
2003,7,8,15,"Lockheed Martin shooting,"
2004,5,7,12,"Damageplan show shooting,"
2005,17,9,26,"Red Lake massacre, Living Church of God shooti..."
2006,21,7,28,"Amish school shooting, Capitol Hill massacre, ..."
2007,54,32,86,"Westroads Mall shooting, Crandon shooting, Vir..."
2008,18,24,42,"Atlantis Plastics shooting, Northern Illinois ..."
2009,39,38,77,"Coffee shop police killings, Fort Hood massacr..."
2010,9,2,11,"Hartford Beer Distributor shooting,"
2011,19,21,40,"Seal Beach shooting, IHOP shooting, Tucson sho..."
2012,72,68,140,"Newtown school shooting, Accent Signage System..."
2013,36,13,49,"Washington Navy Yard shooting, Hialeah apartme..."
2014,9,3,12,"Marysville-Pilchuck High Schoolshooting, Altur..."
2015,24,10,34,"Oregon Community College shooting, Chattanooga..."

 http://stackoverflow.com/questions/13682044/pandas-dataframe-remove-unwanted-parts-from-strings-in-a-column

In [170]:
result['case'] = result['case'].map( lambda x: x.rstrip(','))

In [171]:
result

,fatalities,injured,total_victims,case
year,,,,
1982,8,3,11,Welding shop shooting
1984,28,20,48,"San Ysidro McDonald's massacre, Dallas nightcl..."
1986,15,6,21,United States Postal Service shooting
1987,6,14,20,Shopping centers spree killings
1988,7,4,11,ESL shooting
1989,15,41,56,"Standard Gravure shooting, Stockton schoolyard..."
1990,10,4,14,GMAC massacre
1991,35,26,61,"Royal Oak postal shootings, University of Iowa..."
1992,9,10,19,"Watkins Glen killings, Lindhurst High School s..."
1993,23,34,57,"Chuck E. Cheese's killings, Long Island Rail R..."
1994,5,23,28,Air Force base shooting
1995,6,0,6,Walter Rossler Company massacre
1996,6,1,7,Fort Lauderdale revenge shooting
1997,9,5,14,"Caltrans maintenance yard shooting, R.E. Phelo..."
1998,14,36,50,"Thurston High School shooting, Westside Middle..."
1999,44,47,91,"Hotel shooting, Xerox killings, Wedgwood Bapti..."
2000,7,0,7,Wakefield massacre
2001,5,4,9,Navistar shooting
2003,7,8,15,Lockheed Martin shooting
2004,5,7,12,Damageplan show shooting
2005,17,9,26,"Red Lake massacre, Living Church of God shooting"
2006,21,7,28,"Amish school shooting, Capitol Hill massacre, ..."
2007,54,32,86,"Westroads Mall shooting, Crandon shooting, Vir..."
2008,18,24,42,"Atlantis Plastics shooting, Northern Illinois ..."
2009,39,38,77,"Coffee shop police killings, Fort Hood massacr..."
2010,9,2,11,Hartford Beer Distributor shooting
2011,19,21,40,"Seal Beach shooting, IHOP shooting, Tucson sho..."
2012,72,68,140,"Newtown school shooting, Accent Signage System..."
2013,36,13,49,"Washington Navy Yard shooting, Hialeah apartme..."
2014,9,3,12,"Marysville-Pilchuck High Schoolshooting, Altur..."
2015,24,10,34,"Oregon Community College shooting, Chattanooga..."

In [172]:
result.to_csv('mass_shootings.csv')